/*
//////////////////
//  ALL IMAGES  //
//////////////////
*/

/* Style for "Solid red-orange Rectangle" */

.rectangle-2 {
  width: 300px;
  height: 250px;
  /* background-color: #f05123;
  margin: 20px auto; */
  background-image: url(imgs/Rectangle-2.png);
}

/* Style for "Rectangle for "connect " */

.rectangle-4 {
  width: 103px;
  height: 27px;
  background-color: #f05123;
  background-image: url(imgs/Rectangle-4.png);
}

/* Style for "Rectangle outline, not filled in" FIX THIS!*/

.rectangle-5 {
  width: 300px;
  height: 250px;
  background-image: url(imgs/Rectangle-5.png);
}

/* Style for "Layer 11.p" */

.layer-11 {
  width: 229px;
  height: 250px;
  background-image: url(imgs/Layer-11.png);
}

/* Style for "LOGO" ambassador */

.logo {
  width: 127px;
  height: 32px;
  background-image: url(imgs/LOGO.png);
}

/* Style for "I AM AMBAS" */

.i-am-ambassador {
  width: 184px;
  height: 65px;
  background-image: url(imgs/I-AM-AMBASSADOR.png);
}

/* Style for "Count on u" */

.count-on-us {
  width: 127px;
  height: 84px;
  background-image: url(imgs/Count-on.png);
}

/* Style for "Polygon 1." */

.polygon-1 {
  width: 12px;
  height: 16px;
  background-image: url(imgs/Polygon-1.png);
}

/* Style for "Layer 8" gradient #1 */

.layer-8 {
  width: 297px;
  height: 247px;
  opacity: 0.88;
  background-image: url(imgs/Layer-8.png);
}

/* Style for "Layer 7 copy" #2 */

.layer-7-copy {
  width: 300px;
  height: 250px;
  opacity: 0.88;
  background-image: url(imgs/Layer-7-copy.png);
}

/* Style for "Layer 7" #3 */

.layer-7 {
  width: 300px;
  height: 250px;
  opacity: 0.88;
  background-image: url(imgs/Layer-7.png);
}

/*
////////////////////
//  ALL TEXT FONT //
////////////////////
*/

/* Style for "Let’s Conn" */

.let-s-connect {
  width: 91px;
  height: 9px;
  background-image: url(imgs/Connect.png);
}